:root {
  --color-blue:#0061AC;
  --color-cookie:#f0d99d;
  --color-chip:#936c48;

  --shadow: 0px 9px 11px -10px #000000;
}

@font-face {
  font-family: Knewave;
  src: url("./font/Knewave/Knewave-Regular.ttf");
}

@font-face {
  font-family: 'BinggraeSamanco-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
  margin: 0 ;
  background-color: var(--color-cookie);
  font-family: BinggraeSamanco-Bold;
  font-size: 25px;
}

.text-eng {
  font-family: Knewave;
  color: var(--color-chip);
}

.text,
.text_section {
  font-family: BinggraeSamanco-Bold;
  margin: 0;
  /* width: 60px; */
}

.text_section {
  width: 60px;
  margin-left: 30px;
}


.cookie_monster_greet {
  width: 200px;
  margin: 60px 0 10px 0;
  cursor: pointer;

}

.cookie:hover,
.not-cookie:hover,
.read:hover,
.cookie_monster_greet:hover,
.cookiemonster_eat:hover {
  transform: scale(1.1);
}

.dragAndDrop {
  margin-top: 30px;
  font-size: 40px;
  color: var(--color-chip);
}

.button {
  width: 130px;
  margin: 0 0 50px 0 ;
  background-color: transparent;
  font-family: Knewave;
  border: none;
  font-size: 20px;
}

.header {
  margin-bottom: 300px;
  padding: 50px 0 10px 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color-cookie);
}

.main {
  height: 100%;
  margin-top: 150px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cookie);
}

.box-background {
  position: relative;
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/box.png) center/cover;
}

.detail {
  font-size: 17px;
}

.cookie_monster_head {
  height: 100px;
}

.cookie,
.not-cookie {
  width: 100px;
  cursor: pointer;
}

.guide {
  margin: 0;
}

.cookiemonster_eat {
  width: 300px;
  position: fixed;
  top: 100%;
  left: 75%;
  transition: all 0.5s ease-in;
}



.yum,
.nope {
  width:150px;
  position: fixed;
  top: 40%;
  left: 80%;
}

.visible {
  visibility: visible;
}



.hidden {
  visibility: hidden;
}

.hold {
  width: 100px;
  border: solid red 4px;
}

.hovered {
  background: green;
  border-style: dashed;
}

.invisible {
  display: none;
}


.my-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.section1 {
  padding:8px 0 3px 0;
  width: 1000px;
  height: 30px;
  border-radius: 20px 20px 0 0;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  background-color:var(--color-chip);
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.section2 {
  padding:3px 0 3px 0;
  width: 1000px;
  height: 30px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  background-color: #936c48;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.section3 {
  padding:3px 0 8px 0;
  width: 1000px;
  height: 30px;
  border-radius: 0 0 20px 20px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  background-color: var(--color-chip);
  cursor: pointer;
  transition: all 0.4s ease-in;
  box-shadow: 0px 9px 11px -10px #000000;
}

.article {
  margin-top: 15px;
  line-height: 25px;
  font-size: 18px;
}

.article-hidden {
  visibility: hidden;
}

.read {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-chip);
  color: var(--color-cookie);
  font-size: 20px;
  cursor: pointer;
}


.open {
  flex-grow: 2;
}



.footer {
  margin: 200px 0 300px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  background-color: var(--color-cookie);
}

.thanks {
  position: fixed;
  top: 80%;
  left: 60%;
}

.finish {
  position: fixed;
  top: 93%;
  left: 89%;
}
